# kalibrator.service
#
# systemd Unit für den Kalibrator des 'CO-NO2-Kombisensor mit Modbus Interface'
#
[Unit]
Description="Kalibrator für 'CO-NO2-Kombisensor mit Modbus Interface'"
After=weston.service

[Service]
Type=simple
Environment=XDG_RUNTIME_DIR=/run/user/0
Environment=XMZ_HARDWARE=0.1.0
Environment=LANG=de_DE.UTF-8
ExecStart=/usr/bin/kalibrator
Restart=always
RestartSec=10s

[Install]
WantedBy=multi-user.target
